<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>946130906186-l4or4t8pt3ccgo4te9e2flv72bsak6lu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.946130906186-l4or4t8pt3ccgo4te9e2flv72bsak6lu</string>
	<key>API_KEY</key>
	<string>AIzaSyB9kHoX4yPy57lAWvwNLGXqmTNJqxS6Rx0</string>
	<key>GCM_SENDER_ID</key>
	<string>946130906186</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ajmal.machinetest</string>
	<key>PROJECT_ID</key>
	<string>zartech-e112e</string>
	<key>STORAGE_BUCKET</key>
	<string>zartech-e112e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946130906186:ios:345dd7f368c8e86b618ab3</string>
</dict>
</plist>